@import "tailwindcss";
.nav-items > li.menu-item.nav-link {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #0b7325;
}
.nav-items > li.menu-item.enroll-button {
  margin-right: 5px;
  margin-left: 5px;
}

/* Hero section */
.hero {
  background: url(./banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .hero-subtitle,
.hero .feature-1 {
  background-color: rgba(189, 189, 189, 0.386);
}
/* hero section ends */
@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
  .nav-menu-responsive .nav-items {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #0b7325;
  }

  .nav-menu-responsive .nav-items .menu-item {
    margin: 20px;
  }
}
@media screen and (min-width: 768px) {
  .nav-menu-responsive {
    display: none;
  }
  .nav-menu-responsive .nav-items {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #0b7325;
  }
}
